{% extends "base.html" %}
{% load i18n static balcony_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}

{% balcony_settings as balcony %}
{% get_media_prefix as MEDIA_PREFIX %}

{% if balcony.sliders %}
<section class="no-margin" id="main-slider">
  <div class="carousel slide" style="background-color: {{ balcony.sliders_color }};">
    <ol class="carousel-indicators">
      {% for slider in balcony.get_sliders %}
      <li class="" data-slide-to="{{ forloop.counter0 }}" data-target="#main-slider"{% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for slider in balcony.get_sliders %}
      <div style="background-image: url({{ MEDIA_PREFIX }}{{ slider.image }})" class="item{% if forloop.counter0 == 0 %} active{% endif %}">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="carousel-content centered" style="margin-top: 265px;">
                <h2 class="animation animated-item-1">{{ slider.title }}</h2>
                <div class="animation animated-item-2">{{ slider.text|safe }}</div>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
      {% endfor %}
    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
  <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
    <i class="icon-angle-left"></i>
  </a>
  <a data-slide="next" href="#main-slider" class="next hidden-xs">
    <i class="icon-angle-right"></i>
  </a>
</section>
{% endif %}

{% if balcony.badges %}
<section id="services" class="emerald" style="background-color:{{balcony.badges_color}};">
  <div class="container">
    <div class="row">
      {% for badge in balcony.get_badges %}
      <div class="col-md-4 col-sm-6">
        <div class="media">
          <div class="pull-left">
            <i class=" icon-md">
	      {% if badge.image %}
	      <img src="{{ MEDIA_PREFIX }}{{ badge.image }}" class="img-responsive" />
	      {% endif %}
	    </i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">{{ badge.title }}</h3>
            {{ badge.text|safe }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if balcony.homeblocs %}
<section id="recent-works">
  <div class="container" style="background-color:{{balcony.homeblocs_color}};">
    {% for bloc in balcony.get_homeblocs %}
    <div class="row">
      {% if bloc.image %}
      <div class="col-md-9">
      {% else %}
      <div class="col-md-12">
      {% endif %}
      <h3>
        {{ bloc.title }}
      </h3>
      {{ bloc.text|safe }}
      </div><!--/.row-->
      {% if bloc.image %}
      <div class="col-md-3">
	<p class="gap"></p>
	<img src="{{ MEDIA_PREFIX }}{{ bloc.image }}" class="img-responsive" />
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %}

